
#container{
  margin: 10px;
}
.styleList{
  height: 90px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #303030;
  padding: 0px 10px;
  border-radius: 10px;
}

.titleContent{
  margin-top: 20px;
}

.btnContainer{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;

  ion-button {
    --border-radius: 30%;
  }
}

.flex{
  display: flex;
}

.padding{
  padding: 0px;
}

.timeRound{
  display: flex;
  flex-direction: column;
}

.text-timer{
  font-size: 60px;
}
