<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tiempo total
    </ion-title>
    <ion-title slot="end">
      {{totalTime}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="styleList d-flex justify-content-between ">

      <img src="assets/icon/icons8-boxing-70.png">

      <div class="d-flex flex-column align-items-center">
        <h3>{{timeRound}}</h3>
        <p>Tiempo ronda</p>
      </div>

      <div class="d-flex justify-content-around ">
        <ion-button color="light" class="mr-3" (click)="nextRoundTime()">
          <h4>+</h4>
        </ion-button>
        <ion-button color="light" (click)="backRoundTime()">
          <h4>-</h4>
        </ion-button>
      </div>
    </div>
    <div class="styleList d-flex justify-content-between">
      <img src="assets/icon/icons8-deadline-64.png" >

      <div class="d-flex flex-column align-items-center">
        <h3>{{ breakTime }}</h3>
        <p>Tiempo descanso</p>
      </div>

      <div class="d-flex justify-content-around  ">
        <ion-button color="light" class="mr-3" (click)="nextBreakTime()" >
          <h4>+</h4>
        </ion-button>
        <ion-button color="light" (click)="backBreakTime()">
          <h4>-</h4>
        </ion-button>
      </div>
    </div>
    <div class="styleList d-flex justify-content-between">
      <img src="assets/icon/icons8-time-64.png" alt="" srcset="">

      <div class="d-flex flex-column align-items-center">
        <h3>{{ rounds }}</h3>
        <p>Número de rondas</p>
      </div>

      <div class="d-flex justify-content-around">
        <ion-button color="light" class="mr-3" (click)="nextRound()" >
          <h4>+</h4>
        </ion-button>
        <ion-button color="light" (click)="backRound()" >
          <h4>-</h4>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex justify-content-center">
    <img src="assets/icon/imgApp.png" alt="" srcset="" c>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="">
    <div class="btnContainer">
      <ion-button class="btn1" color="light" size="large" (click)="resetTimes()">
        <img src="assets/icon/icons8-trash-48.png" alt="" srcset="">
      </ion-button>
      <ion-button class="btn2" color="light" size="large">
        <img src="assets/icon/icons8-stop-sign-48.png" alt="" srcset="">
      </ion-button>
      <ion-button class="btn3" color="light" size="large">
        <img src="assets/icon/icons8-play-48.png" alt="" srcset="">
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
